.banner {
  margin-top: 2%;
  width: 95%;

  display: flex;
  justify-content: center;
}

.mainBannerDiv {
  width: 75%;
  position: relative;
}

.buttonRight, .buttonLeft {
  display: none;
  position: absolute;
  width: 5%;
  height: 40%;
  font-size: 300%;
  color: white;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.429);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.buttonLeft {
  top: 35%;
}

.buttonRight {
  top: 35%;
  right: 0;
}

.mainBannerDiv:hover .buttonLeft,
.mainBannerDiv:hover .buttonRight {
  display: flex;
}

.mainBanner{
  width: 100%;
}

.carousel {
  display: flex;
  gap: 10px;
  position: absolute;
  bottom: 1rem;
  width: 100%;
  justify-content: center;
}

.dots {
  border: 1px solid gray;
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 100%;
  z-index: 2;
  background-color: rgba(128, 128, 128, 0.418);
  cursor: pointer;
}

/* this selects the elements that has both class name of dots and active */
.dots.active {
  background-color: rgba(238, 77, 45, 0.9);
  border: none;
  width: 10px;
  height: 10px;
}

.sideBannerDiv{
  display: flex;
  flex-direction: column;
  width: 37%;
  gap: 5px;
  margin-left: 5px;
}

.sideBanner{
  width: 100%;
}
