.CommonSearch {
  display: flex;
  margin-top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}

.CommonSearch .items {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  color: #ffffffe6;
  cursor: pointer;
  overflow: hidden;
}

.CommonSearch .items:not(:first-child) {
  margin-left: 10px;
}

@media (width <= 900px) {
  .CommonSearch {
    display: none;
  }
}
