header{
    position: fixed;
    height: 119px;  
    background-color: #ee4d2d;
    width: 100%;

    display: flex;
    flex-direction: column;
}

header .top-div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

header .search-div{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    align-self: center;
}
